:root {
	--nc-tx-1: #ffffff;
	--nc-tx-2: #eeeeee;
	--nc-bg-1: #14171b;
	--nc-bg-2: #111111;
	--nc-bg-3: #222222;
	--nc-lk-1: #c2cdda;
	--nc-lk-2: #ecf0f3;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #7928CA;
	--nc-ac-tx: #FFFFFF;
}

body {
  font-size: 20px;
  font-family: Inter;
}

td,
th {
  padding: 1rem;
}

th {
  color: #fffffe;
  font-size: 20px;
}

summary {
  font-family: Inter;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Inter;
}

th,
td {
  line-height: 2;
  font-size: large;
}

header {
  /* background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */

  background: linear-gradient(-45deg, #861a54, #054f7d, #00a7cf, #efe348);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Little Animation Pink Gallery On The Pricing Page */

.animation {
  /* background-color: #14171b; */
  font-size: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.animation svg {
  border-radius: 2rem;
  box-shadow: 0 0 2rem #000000;
  width: 80%;
}

.animation svg .canvas {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.animation svg .cls-1 {
  fill: #ef7385;
}

.animation svg .clouds {
  opacity: 0.9;
}

.animation svg .cls-3,
.animation svg .cls-4,
.animation svg .cls-5 {
  fill: #ffe8d7;
}

.animation svg .cls-4 {
  opacity: 0.67;
}

.animation svg .sun-glow {
  opacity: 0;
}

.animation svg .sun-glow,
.animation svg .sun {
  fill: #f5f5f5;
}

.animation svg .hintergrund3 {
  fill: #c6467a;
}

.animation svg .hintergrund2 {
  fill: #c6467a;
}

.animation svg .hintergrund {
  fill: #a02a78;
}

.animation svg .mittelgrund {
  fill: #6b174d;
}

.animation svg .vordergrund {
  fill: #4a0b32;
}

.page-cover-image {
  border-radius: 10px;
}

.padding-left {
  padding-left: 5px;
}

/* Increasing Font Size On Mobile */

@media (min-width:320px) {

  th,
  td {
    font-size: 20px;
  }
}

/* Bottom Round Border In The Header */

header {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


/* Floating Little Illustration At The Bottom */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}



/* Adding Tooltips In The Pricing Table */



:root {
  --tooltipColor: #1a1a1a;
  --tooltipTransform: translate(-50%, -5px);
  --tooltipTransition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  background: var(--tooltipColor);
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: var(--tooltipTransform);
          transform: var(--tooltipTransform);
  padding: 7px 10px;
  border-radius: 3px;
  opacity: 0;
  font-size: medium;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: var(--tooltipTransition);
  transition: var(--tooltipTransition);
}
[data-tooltip]:after {
  content: "";
  position: absolute;
  bottom: calc(100% - 5px);
  left: 50%;
  -webkit-transform: var(--tooltipTransform);
          transform: var(--tooltipTransform);
  opacity: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--tooltipColor) transparent transparent transparent;
  -webkit-transition: var(--tooltipTransition);
  transition: var(--tooltipTransition);
}
[data-tooltip]:hover, [data-tooltip]:focus {
  --tooltipTransform: translate(-50%, -10px);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  opacity: 1;
}